<!DOCTYPE html>
<html>
<head>
	<title>Your Profile</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
	<header class="container mt-5">
		<div class="row">
			<p class="col text-center">Welcome, <%= user.username %></p>
		</div>
		<div class="row">
			<div class="col-4"></div>
			<a href="/blog/create" class="col btn btn-primary">Create a blog</a>
			<div class="col-4"></div>
		</div>
	</div>
	<main class="container mt-3">
		<div class="row">
			<p class="h1 col text-center">Your Blogs</p>
		</div>
		<div class="row">
			<ul class="col col-md-9 mx-auto list-group">
			<% for(let i = 0; i < user.blogs.length; i++) { %>
				<% let blog_name = user.blogs[i].name %>
				<% let blog_id = user.blogs[i]._id %>
				<li class="list-group-item">
					<a href="/blog/<%= blog_id %>"><%= blog_name %></a>
				</li>
			<% } %>
			</ul>
		</div>
	</main>
</body>
</html>
