<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<header>
		<p>Welcome, <%= blog.owner.username %> You own <%= blog.name %></p>
		<a href="/blog/<%= blog._id %>/post">Create a post!</a>
	</header>
	<main>
		<% console.log(user) %>
	</main>
	<footer>
		<p>no content here :(</p>
	</footer>
</body>
</html>
